.header__nav-link {
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    text-decoration: none;
    padding: 0;
    margin: 0 0 0 18px;
    color: #ffffff;
    transition: ease 0.5s;
}

.header__nav-link:hover{
    opacity: 0.8;
}

.header__nav-link:active {
    text-decoration: underline;
}

@media screen and (max-width: 540px){
    .header__nav-link{
        font-size: 18px;
        line-height: 1.11;
    }
}