.content {
    max-width: 1184px;
    min-width: 320px;
    font-family: 'Inter', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 24px;
    box-sizing: border-box;
  
}
