.intro {
    max-width: 83.10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
}

@media screen and (max-width: 1148px){
    .intro {
        min-width: calc( 100% - 96px);
    }   
 }
 
@media screen and (max-width: 860px){
    .intro {
        min-width: calc(100% - 24px);
     }
 }
 
@media screen and (max-width: 540px){
    .intro {
        min-width: calc(100% - 32px);
     }
 }