.intro__paragraph {
    width: 70.12%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    text-align: left;
    margin: 32px 0 0;
}


@media screen and (max-width: 1148px){
    .intro__paragraph {
        min-width: 74.35%;
    }   
}

@media screen and (max-width: 860px){
    .intro__paragraph {
        width: 100%;
     }
}