.place__link{
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    transition: ease 0.5s;
}

.place__link:hover{
    opacity: 0.8;
}