.header__lang-list {
    list-style: none;
    display: flex;
    padding: 12px 0 4px;
    margin: 0;
}

@media screen and (max-width: 540px){
    .header__lang-list{
        padding: 10px 0 6px;
    }
}