.cover__title{
    max-width: 656px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    margin: 283px auto 32px;
    padding: 0;
}

@media screen and (max-width: 1148px){
    .cover__title {
        margin: 233px auto 32px;
    }   
 }
 
@media screen and (max-width: 860px){
    .cover__title {
        margin: 153px auto 32px;
    }
}
 
@media screen and (max-width: 540px){
    .cover__title {
         min-width: calc(100% - 32px);
         font-size: 32px;
         line-height: 1.09;
         margin: 51px auto 16px;
    }
}