.place {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "title website"
        "image text";
    grid-gap: 48px 40px;
    margin: 0 auto 80px;
    position: relative;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1148px){
    .place {
      grid-gap: 48px 32px;
    }   
}

@media screen and (max-width: 860px){
    .place {
        margin: 0 auto 72px;
        grid-gap: 48px 28px;
    }
}
 
@media screen and (max-width: 540px){
    .place {
        margin: 0 auto 48px;
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
}