.footer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 92px auto 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1148px){
    .footer {
        max-width: calc(100% - 96px);
    }   
 } 

@media screen and (max-width: 860px){
    .footer {
        max-width: calc(100% - 48px);
    }
}
 
@media screen and (max-width: 540px){
    .footer {
        min-width: 165px;
        margin-top: 64px;
        margin-bottom: 24px;
        margin-left: 16px;
        flex-direction: column;
    }
}